.list-page-top {
  margin-bottom: 20px;
}
.search-area {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.list-page-middle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
